<div class="container-fluid">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-body">
        <h3 class="text-center">Visão Geral <small>(Dados mais recentes)</small></h3><br/>
        <div class="row float-right">
          <div class="col-md-12">
            <form method="POST">
              <div class="form-group col-md-3 col-xs-6">
                <label for="begin">Data de inicio</label>
                <input type="date" class="form-control">
              </div>
              <div class="form-group col-md-3 col-xs-6">
                <label for="begin">Data de fim</label>
                <input type="date" class="form-control">
              </div>
              <div class="form-group col-md-2">
                <label for="title">Vamos começar?</label>
                <button class="btn btn-primary btn-block">
                  Confirmar
                </button>
              </div>
            </form>
          </div>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>