<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <h3>Lista de usuários <small>(Ativos e Inativos)</small></h3>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="response.message">
          <div class="alert alert-warning">
            {{ response.message }}
          </div>
        </div>
      </div>
      <div class="table-info" *ngIf="response.success">
        <div class="row">
          <div class="col-md-6 col-md-offset-6 text-right">
            <button class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-menu-left"></span> 
            </button>
            <input type="text" 
                    class="form-control table-input"
                    value="1"
                    disabled> / 100
            <button class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-menu-right"></span> 
            </button>
          </div>
        </div><br/>
        <table class="table table-bordered">
          <thead>
            <th class="text-center">Nome</th>
            <th class="text-center">Usuário</th>
            <th class="text-center">Idade</th>
            <th class="text-center">E-mail</th>
            <th class="text-center">Status</th>
            <th></th>
          </thead>
          <tbody>
            <tr class="text-center"
                *ngFor="let usuario of listaUsuarios">
              <td>{{ usuario.realname }}</td>
              <td>{{ usuario.username }}</td>
              <td>{{ usuario.age }} anos</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.active ? 'Ativo' : 'Inativo' }}</td>
              <td>
                <button class="btn btn-icon btn-info btn-sm">
                  <i class="glyphicon glyphicon-user"></i>
                </button>
                <div class="btn-group" dropdown>
                  <button dropdownToggle class="btn btn-icon btn-warning btn-sm">
                      <i class="glyphicon glyphicon-transfer"></i>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Ativar</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Desativar</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p *ngIf="!response.success">
        Nenhuma informação disponível na tabela
      </p>
    </div>
  </div>
</div>